*{
    margin: 0;
    padding: 0;

}
body{
    transition: 1s ease;
    background-color: aquamarine;
}
.contenar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 600px;
    border-radius: 20px;
    background-color: rgba(24, 20, 20, 0.527);
}
.btn {
    overflow: hidden;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    border: 1px solid black;
    cursor: pointer;
}
.im{
    height: 100px;
    width: 100px;
}

.score{
    transition: 1s ease;
    justify-content: center;
    position: relative;
    top: -100px;
    background-color: rgba(0, 0, 0, 0.527);
    height: 145px;
    width: 400px;
    border-radius: 15px;
    margin: auto;
}
.r-btn{
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 3px;
}
.l-btn{
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 3px;
}
h1{
    position: absolute;

}
#tie{
    color: white;
    bottom: 70px;
    right: 180px;
}
h3{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 35px;
}
.com_Move{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 307px;
}
#lose{
    bottom: 70px;
    right: 140px;
    color: red;
}
#win{
    bottom: 70px;
    right: 150px;
    color: rgb(19, 238, 19);
}

#all{
    position: relative;
    top: 300px;
}

#sC{
    display: flex;
    align-items: center;
    justify-content: center;

}
.Scores{
    height: 30px;
    width: 45px;
    border-radius: 5px;
    position: relative;
    top: 90px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.l{
    border: 2px solid rgb(255, 0, 0);
    color: red;
}
.t{
    border: 2px solid white;
    color: white;
}
.w{
    border: 2px solid rgb(19, 238, 19);
    color: rgb(19, 238, 19);
}

#re-btn{
    position: relative;
    left: 45vmax;
    top: 15vmin;
    height: 60px;
    width: 200px;
    background: transparent;
    border-radius: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#re-btn::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.664);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: -1;
    border-radius: 5px;
}

#re-btn:hover::before{
    transform: translateX(0);
}

#re-btn:hover{
    color: white;
}
.l-btn>.im{
    animation-name: rot;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
}
@keyframes rot{
    0%{
        opacity: 0;
        rotate: -180deg;
    }
    100%{
        opacity: 1;
    }
}
#rim{
    animation-name: R-rot;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-timing-function: ease;

}
@keyframes R-rot{
    0%{
        opacity: 0;
        rotate: 180deg;
    }
    100%{
        opacity: 1;
    }
}