*{
    margin: 0;
    padding: 0;

}
body{
    transition: 1s ease;
    background-color: aquamarine;
}
.contenar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 600px;
    border-radius: 20px;
    background-color: rgba(24, 20, 20, 0.527);
}
.btn {
    overflow: hidden;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
.im{
    height: 100px;
    width: 100px;
}

.score{
    transition: 1s ease;
    justify-content: center;
    position: relative;
    top: -100px;
    background-color: rgba(0, 0, 0, 0.527);
    height: 145px;
    width: 400px;
    border-radius: 15px;
    margin: auto;
    opacity: 0;
}
.r-btn{
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 3px;
}
.l-btn{
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 3px;
}
h1{
    position: absolute;

}
#tie{
    color: white;
    bottom: 70px;
    right: 180px;
}
h3{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 35px;
}
.com_Move{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 307px;
}
#lose{
    bottom: 70px;
    right: 140px;
    color: red;
}
#win{
    bottom: 70px;
    right: 150px;
    color: rgb(19, 238, 19);
}

#all{
    position: relative;
    top: 300px;
}